{namespace n=GeorgRinger\News\ViewHelpers}

<f:be.container enableClickMenu="FALSE" enableExtJsDebug="FALSE" enableJumpToUrl="FALSE" loadExtJs="FALSE" loadExtJsTheme="FALSE" loadPrototype="FALSE" loadScriptaculous="FALSE">

	<n:includeFile path="../typo3conf/ext/pxa_dashboard/Resources/Public/Css/Backend/bootstrap.min.css" />
	<n:includeFile path="../typo3conf/ext/pxa_dashboard/Resources/Public/Css/Backend/font-awesome.min.css" />
	<n:includeFile path="../typo3conf/ext/pxa_dashboard/Resources/Public/Css/Backend/control-panel.css" />
	<n:includeFile path="../typo3conf/ext/pxa_dashboard/Resources/Public/Js/Backend/bootstrap.min.js" />
	<script type="text/javascript">
    	var jsBaseUrl = '<f:uri.action action="json" />';
	</script>

	<div class="typo3-fullDoc">
		<div id="typo3-docheader">

			<f:comment># RENDER NAVIGATION #</f:comment>
			<f:render partial="ControlPanel/Navigation" arguments="{_all}" />

		</div>
		<div id="typo3-docbody">
			<div id="typo3-inner-docbody">
				<f:flashMessages class="tx-extbase-flash-message" />
				<div id="news-administration">
					
					<f:comment># AUTOMATIC CONTENT DEFINED BY TYPOSCRIPT #</f:comment>
					<f:if condition="{tsLayot.columns}">
						<div class="row-fluid">
							<f:for each="{tsLayot.columns}" as="column">
								<div class="span{column.span}">
									<f:for each="{column.content}" as="content">
										<f:render partial="{content.partial}" arguments="{content.params}" />
									</f:for>
								</div>
							</f:for>
						</div>
					</f:if>

					<f:comment># CONTENT FROM TEMPLATE #</f:comment>
					<f:render section="content" />

				</div>
			</div>
		</div>
	</div>

</f:be.container>
