{namespace n=GeorgRinger\News\ViewHelpers}
{namespace pxa=Tx_PxaFoundation_ViewHelpers}

<f:layout name="Backend/ControlPanel" />

<f:section name="content">
	<div class="row-fluid">
		<div class="span2">
			<f:render partial="ControlPanel/ActionsList" arguments="{items: actions}" />
		</div>

		<div class="span7">
			<div class="widget-wrapper widget-typo3-dblist">
				<header><i class="icon-list-alt"></i><span>{listTableTitle}</span></header>
				<f:format.raw>{listTable}</f:format.raw>
			</div>
		</div>
</f:section>

