<div class="widget-wrapper">
	<header><i class="icon-check"></i><span>Actions</span><i class="icon-angle-up pull-right"></i></header>
	<ul id="sys-actions" class="to-do-list">
		<li></li>
	</ul>
</div>
<script>
jQuery(document).ready(function() {
	getSysActionsList('sys-actions');
});
</script>