<div class="widget-wrapper">
	<header><i class="icon-bar-chart"></i><span>{title}</span></header>
	<div id="gachart-{GoogleAnalyticsTSConfig}"></div>
	<script>
	jQuery(document).ready(function() {
		getGoogleAnalyticsData('{GoogleAnalyticsTSConfig}','gachart-{GoogleAnalyticsTSConfig}');
	});
	</script>
</div>