<div class="widget-wrapper">
	<header><i class="icon-list-alt"></i><span>{title}</span></header>

	<f:for each="{newsFeed.channel.item}" as="news">
		<f:if condition="{news.title}">
			<div class="row-fluid">
				<div class="news-container">
					<div class="span10"><a href="{news.link}" target="_blank" title="{news.description}">
						<h5>{news.title}</h5>
						</a>
						<p><f:format.crop maxCharacters="120">{news.description}</f:format.crop></p>
					</div>
					<div class="span2">
						<div class="date-parent">
							<div class="date-child">
								<span class="day-number"><f:format.date format="d">{news.pubDate}</f:format.date></span>
								<span class="month"><f:format.date format="M">{news.pubDate}</f:format.date></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</f:if>
	</f:for>
</div>