<div class="widget-wrapper">
	<header><i class="icon-check"></i><span>Your Recent Changes</span><i class="icon-angle-up pull-right"></i></header>
	<ul id="recent-changes" class="to-do-list">
		<li></li>
	</ul>
</div>
<script>
jQuery(document).ready(function() {
	getRecentChangesList('recent-changes');
});
</script>