div#typo3-docbody {
	position: relative;
	top: auto;
	bottom: auto;
}
header {
	display: block;
	padding: 5px 10px;
	color: #525252;
	background-color: #ededed; 
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ededed), to(#dfdfdf));
	background-image: -webkit-linear-gradient(top, #ededed, #dfdfdf); 
	background-image:    -moz-linear-gradient(top, #ededed, #dfdfdf);
	background-image:     -ms-linear-gradient(top, #ededed, #dfdfdf);
	background-image:      -o-linear-gradient(top, #ededed, #dfdfdf);
}

header span {
	margin-left: 5px;
}

h5 {
	margin: 0;
}

ul {
	margin: 0 0 10px 15px;
}

.navbar-inverse .navbar-inner {
	background-color: #404040; 
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#404040), to(#333333));
	background-image: -webkit-linear-gradient(top, #404040, #333333); 
	background-image:    -moz-linear-gradient(top, #404040, #333333);
	background-image:     -ms-linear-gradient(top, #404040, #333333);
	background-image:      -o-linear-gradient(top, #404040, #333333);
	border-top: 1px solid #595959;
}

.navbar .brand {
	padding: 5px;
	margin-left: 0;
	margin-right: 20px;
}

.navbar .nav>li {
	border-right: 1px solid #292929;
	border-left: 1px solid #4a4a4a;
	min-width: 90px;
}
.navbar .nav>li a:hover span, .navbar .nav>li a:hover i  {
	color: #FF8700;
} 
.navbar .nav>li:hover a, .navbar .nav>li.active a {
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#333333), to(#404040));
	background-image: -webkit-linear-gradient(top, #333333, #404040); 
	background-image:    -moz-linear-gradient(top, #333333, #404040);
	background-image:     -ms-linear-gradient(top, #333333, #404040);
	background-image:      -o-linear-gradient(top, #333333, #404040);
	color: #FF8700;
}

.navbar .nav li:first-child:before {
	content:'';
	position: absolute;
	width: 1px;
	height: 100%;
	left: -1px;
	border-left: 1px solid #292929;
}

.navbar .nav li:nth-child(6):before {
	content:'';
	position: absolute;
	width: 1px;
	height: 100%;
	right: -1px;
	border-right: 1px solid #404040;
}

.nav .icon-container {
	margin:0 auto;
	display: block;
	text-align: center;
}

.nav i {
	display: block;
	text-align: center;
}

.nav span {
	display: block;
	text-align: center;
}

.row-fluid {
	border-bottom: 1px dotted #d5d5d5;
}

.news-container {
	margin: 20px 0 20px 20px;
	position: relative;
	overflow: hidden;
	color: #777777;
	min-height: 45px;
}

.news-container:after {
	clear:both;
}

.day-number, .month {
	color: #777777;
	text-align: center; 
	display: block;
}

.day-number {
	font-size: 30px;
}

.navbar {
	height: 73px;
}

.navbar-inverse .brand, .navbar-inverse .nav>li>a {
	color: #5e5e5e;
}


.widget-wrapper {
	margin-bottom: 20px;
	border: 1px solid #d5d5d5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.to-do-list { 
	list-style: none;
	margin: 5px 10px;
}
.to-do-list li .t3-icon, .to-do-list li i {
	margin-right: 5px;
}

.to-do-list li {
	padding: 3px 0;
	color: #777777;
}

.to-do-list li a {
	display: block;
	color: inherit;
}

.to-do-list li i.icon-reorder, .to-do-list li i.icon-angle-up {
	margin-top: 3px;
	margin-right: 10px;
}

.date-parent {
	position: absolute; 
	top: 50%;
	right: 5%;
	height: 50px;
	width: 34px
}

.date-child {
	position: absolute;
    top: -33%;
}

.widget-typo3-dblist form {
	margin: 0;
}

table.typo3-dblist {
	border-color: #d5d5d5;
	border-width: 1px 0 0;
	margin: 0;
}

table.typo3-dblist tr td.col-title {
	width: auto;
}

table.typo3-dblist tr td.col-control {
	width: auto;
}

table.typo3-dblist .col-control .typo3-DBctrl {
	min-width: 54px;
}

.typo3-dblist .t3-icon-document-info {
	display: none;
}

.typo3-dblist .t3-icon-document-history-open {
	display: none;
}

.typo3-dblist .t3-icon-version-no-version {
	display: none;
}

.typo3-dblist .t3-icon-document-new {
	display: none;
}

.t3-row-header {
	display: none;
}

.db_list-fieldSelect {
	display: none;
}